<a href="https://colab.research.google.com/github/mrjeevan/Python-Workshop/blob/master/Day_2_session_2_Exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
def inp():
  name = input('Enter Name : ')
  marks = input('Enter Marks : ')
  rolno = input('Enter RolNo :')
  return (name,marks,rolno)

d = {}
n = int(input('Enter No of Students : '))
for x in range(n):
  n,m,r = inp()
  d[n] = m

keys = sorted(d.keys())
# print(keys)

for key in keys:
  print(d[key])

Enter No of Students : 5
Enter Name : n1
Enter Marks : 70
Enter RolNo :21
Enter Name : n2
Enter Marks : 75
Enter RolNo :22
Enter Name : n3
Enter Marks : 80
Enter RolNo :23
Enter Name : n4
Enter Marks : 85
Enter RolNo :24
Enter Name : n5
Enter Marks : 90
Enter RolNo :25
['n1', 'n2', 'n3', 'n4', 'n5']
70
75
80
85
90

Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
def inp():
  name = input('Enter Name : ')
  salary = int(input('Enter Salary : '))
  
  return (name,salary)

d = {}
n = int(input('Enter No of Employees : '))
for x in range(n):
  n,s = inp()
  d[n] = s

keys = sorted(d.keys())
# print(keys)

for key in keys:
  print(f'{key} : {d[key]}')

Enter No of Employees : 5
Enter Name : a
Enter Salary : 5000
Enter Name : b
Enter Salary : 6000
Enter Name : c
Enter Salary : 7000
Enter Name : d
Enter Salary : 8000
Enter Name : e
Enter Salary : 9000
a : 5000
b : 6000
c : 7000
d : 8000
e : 9000

Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [ ]:
def inp():
  name = input('Enter Name : ')
  salary = int(input('Enter Salary : '))
  
  return (name,salary)

d = {}
n = int(input('Enter No of Employees : '))
for x in range(n):
  n,s = inp()
  d[n] = s

keys = sorted(d.keys())

print('Assending Order : ')

for key in keys:
  print(f'{key} : {d[key]}')


print(f'Sum of all Salaries : {sum(list(d.values()))}')
print(f'Max Salary : {max(list(d.values()))} \t\t Min Salary {min(list(d.values()))}')
print(f'Avrage Salary {sum(list(d.values()))/len(list(d.keys()))}')

Enter No of Employees : 3
Enter Name : emp5
Enter Salary : 7000
Enter Name : emp3
Enter Salary : 7500
Enter Name : emp400
Enter Salary : 8940399999
Assending Order :
emp3 : 7500
emp400 : 8940399999
emp5 : 7000
Sum of all Salaries : 8940414499
Max Salary : 8940399999 		 Min Salary 7000
Avrage Salary 2980138166.3333335

Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
def inp():
  name = input('Enter Name : ')
  salary = int(input('Enter Salary : '))
  if 2000 < salary < 4000: 
    return (name,salary)
  return None

d = {}
n = int(input('Enter No of Employees : '))
for x in range(n):
  k = inp()
  if k != None:
    d[k[0]] = k[1]
  
print(d)

Enter No of Employees : 3
Enter Name : emp666
Enter Salary : 9999999999
Enter Name : emp007
Enter Salary : 9999999999
Enter Name : m16
Enter Salary : 3000
{'m16': 3000}

Python program to convert a 3 digit number  into words

In [ ]:
## Partially Working 

d = {1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
d2 = {1:'Ten',2:'Twenty',3:'Thirty',4:'Forty',5:'Fifty',6:'Sixty',7:'Seventy',8:'Eighty',9:'Ninty'}
d3 = {2:'Tens',3:'Hundred',4:'Thousands'} 

i = int(input('Enter The Number : '))
a = len(str(i))
j = int(str(i)[0])
if j !=0 :
  s = d[j]
s = s + ' ' + d3[a]
i = int(str(i)[1:])
print(s,i)


j = int(str(i)[0])
if j !=0:
  #s = s + ' ' + d2[j]
  if len(str(i))>1:
    i = int(str(i)[1:])
  else:
    i = int(str(i)[0:])
print(s,i)



if i!=0:
  s = s + ' ' + d[i]
print(s)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
path = 'drive/My Drive/text.txt'
with open(path,'r')as file:
  totchar = 0
  reader = file.read()
  for line in reader:
    if line != ' ':
      totchar += 1
  print(f'Total no of charecters : {totchar}')

Total no of charecters : 231816

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
path = 'drive/My Drive/text.txt'
with open(path,'r')as file:
  totchar = 0
  reader = file.readlines()
  numbers = []
  for line in reader:
    for word in line:
      if word.isnumeric():
        numbers.append(int(word))

  print(f'All numbers : {numbers}')
  collection = {}
  for number in numbers:
    if number not in collection.keys():
      collection[number] = 1
    else:
      collection[number] += 1
  print(f'Total Occurrence : {collection}')

All numbers : [2, 5, 2, 0, 0, 8, 1, 6, 1, 9, 9, 1, 1, 0, 2, 0, 1, 8, 8, 1, 9, 9, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 0, 1, 1, 1, 2, 1, 3, 1, 4, 1, 5, 1, 6, 1, 7, 1, 1, 4, 2, 2, 7, 2, 7, 2, 7, 3, 2, 7, 2, 7, 4, 5, 6, 7, 6, 3, 0, 4, 0, 1, 2, 3, 4, 8, 9, 1, 0, 1, 1, 1, 2, 1, 3, 1, 4, 1, 5, 1, 6, 2, 1, 1, 4, 1, 7, 1, 6, 0, 1, 6, 0, 1, 1, 6, 1, 1, 1, 8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 7, 1, 8, 1, 9, 1, 3, 1, 1, 1, 7, 1, 4, 1, 5, 1, 1, 1, 6, 1, 1, 1, 7, 1, 8, 1, 9, 1, 8, 2, 0, 6, 0, 4, 3, 0, 1, 3, 9, 0, 1, 9, 3, 1, 1, 1, 1, 2, 1, 3, 3, 1, 3, 9, 0, 1, 4, 1, 3, 1, 5, 1, 6, 2, 2, 0, 0, 1, 3, 4, 3, 5, 0, 1, 3, 6, 4, 6, 2, 2, 1, 5, 4, 1, 5, 0, 1, 3, 4, 5, 5, 7, 9, 9, 7, 1, 2, 8, 0, 9, 1, 5, 0, 0, 8, 4, 1, 1, 6, 8, 0, 1, 5, 9, 6, 1, 8, 8, 7, 4, 1, 5, 0, 0, 0, 5, 0, 5, 2, 0, 0, 3, 1, 0, 0, 0, 0, 0, 6, 0, 5, 0, 4, 0, 3, 0, 2, 0, 1, 0, 0, 9, 9, 9, 8, 9, 7, 9, 6, 9, 5, 9, 4, 9, 3, 9, 2, 9, 2, 9, 1, 9, 0, 2, 0, 0, 3, 1, 0, 0, 0, 0, 1, 0, 2, 3, 4, 1, 0, 2, 3, 1, 0, 2, 3, 4, 2, 4, 6, 8, 9, 2, 4, 6, 8, 2, 4, 6, 8, 9]
Total Occurrence : {2: 33, 5: 19, 0: 51, 8: 18, 1: 98, 6: 21, 9: 29, 3: 25, 4: 24, 7: 16}

Python Program to append the contents of one file to another file

In [ ]:
path = 'drive/My Drive/text.txt' # for Reading Only!
path2 = 'drive/My Drive/new.txt' # for Writing Only!
with open(path,'r')as file:
  reader = file.readlines()
  with open(path2,'w') as file2: # writing to file2
    for line in reader:
      file2.write(line) 

with open(path2,'r') as file2:   #Reopening file2 to check 
  reader = file2.readlines()
  for i in range(10):
    print(reader[i])

The Project Gutenberg EBook of Peter Pan, by James M. Barrie



This eBook is for the use of anyone anywhere at no cost and with

almost no restrictions whatsoever.  You may copy it, give it away or

re-use it under the terms of the Project Gutenberg License included

with this eBook or online at www.gutenberg.org



** This is a COPYRIGHTED Project Gutenberg eBook, Details Below **

**     Please follow the copyright guidelines in this file.     **

Python Program to count the number of blank spaces in a text file.

In [ ]:
path = 'drive/My Drive/text.txt'
with open(path,'r')as file:
  totspace = 0
  reader = file.read()
  for line in reader:
    if line == ' ':
      totspace += 1
  print(f'Total no of Spaces : {totspace}')

Total no of Spaces : 46375

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [ ]:
path = 'drive/My Drive/text.txt' # for Reading Only!
path2 = 'drive/My Drive/new.txt' # for Writing Only!
with open(path,'r')as file:
  reader = file.readlines()
  with open(path2,'w') as file2: 
    for line in reader:
      modline = ''
      wordlist = []
      
      wordlist.append(line.title())
      modline = modline.join(wordlist)
      
      file2.write(modline)       # writing to file2

with open(path2,'r') as file2:   #Reopening file2 to check 
  reader = file2.readlines()
  for i in range(10):
    print(reader[i])

The Project Gutenberg Ebook Of Peter Pan, By James M. Barrie



This Ebook Is For The Use Of Anyone Anywhere At No Cost And With

Almost No Restrictions Whatsoever.  You May Copy It, Give It Away Or

Re-Use It Under The Terms Of The Project Gutenberg License Included

With This Ebook Or Online At Www.Gutenberg.Org



** This Is A Copyrighted Project Gutenberg Ebook, Details Below **

**     Please Follow The Copyright Guidelines In This File.     **